@page "/"
@using TimeSight.repositories
@using System.Security.Claims

@attribute [Authorize]
@inject IChoreRepository choreRepository;


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button type="button" class="btn btn-primary">Reorder</button>


<ul class="container text-center list-unstyled">
    @foreach (var chore in chores)
    {
        <li>
            <div class="row">
                <div class="form-check col-2">
                    <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                    <label class="form-check-label" for="checkDefault">
                        IsDone
                    </label>
                </div>
                <div class="test col-2">
                    @chore.Name
                </div>
                <div class="col-2">
                    <label for="range2" class="form-label">Significance</label>
                    <input type="range" class="form-range " min="1" max="4" @bind="chore.Significance" @bind:event="oninput"
                           id="range2">
                </div>
                <div class="col-2">
                    <label for="range2" class="form-label">Duration</label>
                    <input type="range" class="form-range " min="1" max="4" @bind="chore.Duration" @bind:event="oninput"
                           id="range2">
                </div>

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                        Dropdown button
                    </button>
                    <ul class="dropdown-menu">
                        @foreach (var domain in domains
                            .Where(d =>
                            {
                                return !choreDomains.Any(cd => matches(cd, chore, d));
                            }))
                        {
                            <li><a class="dropdown-item" @onclick="() => AddLink(chore, domain)">@domain.Name</a></li>
                        }

                    </ul>
                </div>

                <div class="btn-group col-2" role="group" aria-label="Basic example">
                    @foreach (var domain in domains
                    .Where(d => choreDomains.Where(cd => matches(cd, chore, d)).Any()))
                    {
                        <button type="button" class="btn btn-primary"
                                @onclick="() => RemoveLink(chore, domain)">@domain.Name</button>

                    }
                </div>

            </div>
        </li>
    }
    <div class="row">
        <button type="button" @onclick="AddChore" class="btn btn-primary">Primary</button>
    </div>
</ul>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    private Guid userId;

    private ICollection<Domain> domains = [];
    private ICollection<Chore> chores = [];
    private ICollection<ChoreDomain> choreDomains = [];


    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStateTask).User;
        string userIdString = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        userId = Guid.Parse(userIdString);

        chores = await choreRepository.GetChoresAsync(userId);
        await base.OnInitializedAsync();
    }
    public async Task AddChore()
    {
        Chore chore = new Chore()
        {
            UserId = userId,
            Name = "Choose"
        };
        chore = await choreRepository.CreateChoreAsync(chore);
        chores.Add(chore);
    }

    public void RemoveLink(Chore chore, Domain domain)
    {
        @* ChoreDomains.RemoveAll(cd => matches(cd, chore, domain)); *@
    }
    public void AddLink(Chore chore, Domain domain)
    {
        //TODO faire gaffe int casting
        @* ChoreDomains.Add(new() { ChoreId = (int)chore.Id, DomainId = (int)domain.Id, UserId = chore.UserId }); *@
    }

    private bool matches(ChoreDomain choreDomain, Chore chore, Domain domain)
    {
        return false;
        @* return choreDomain.ChoreId == chore.Id && choreDomain.DomainId == domain.Id; *@
    }

}