@using TimeSight.repositories
@using System.Security.Claims

@page "/"

@attribute [Authorize]
@inject IChoreRepository choreRepository;


<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<button type="button" class="btn btn-primary">Reorder</button>


<ul class="container text-center list-unstyled">
    @foreach (var chore in chores)
    {
        <ChoreComponent Chore="chore"></ChoreComponent>
    }
    <div class="row">
        <button type="button" @onclick="AddChore" class="btn btn-primary">Primary</button>
    </div>
</ul>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthStateTask { get; set; }

    private Guid userId;

    private ICollection<Domain> domains = [];
    private ICollection<Chore> chores = [];
    private ICollection<ChoreDomain> choreDomains = [];


    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStateTask).User;
        string userIdString = user.FindFirst(ClaimTypes.NameIdentifier)?.Value;
        userId = Guid.Parse(userIdString);

        chores = await choreRepository.GetChoresAsync();
        await base.OnInitializedAsync();
    }
    public async Task AddChore()
    {
        Chore chore = new Chore()
        {
            UserId = userId,
            Name = "Choose"
        };
        chore = await choreRepository.CreateChoreAsync(chore);
        chores.Add(chore);
    }

   

}