@using TimeSight.repositories

@page "/domains/create"
@page "/domains/edit/{id:guid}"

@attribute [Authorize]

@inject NavigationManager navigationManager
@inject IDomainRepository domainRepository

<EditForm Model="domain" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="domain.Name"></InputText>
    <ValidationMessage for="() => domain.Name" />
    <button type="submit" class="btn btn-primary">@(Id != null ? "Update" : "Create")</button>
</EditForm>
@code {
    [CascadingParameter(Name = "UserId")]
    public Guid? UserId { get; set; }

    [Parameter]
    public Guid? Id { get; set; }

    private Domain? domain;

    public async Task Submit()
    {
        if (Id != null)
        {
            //TODO update
        }
        else
        {
            await domainRepository.CreateDomainAsync(domain);
        }
        navigationManager.NavigateTo(uri: "/domains");
    }

    protected override void OnInitialized()
    {
        Console.WriteLine("OnInitialized " + Guid.NewGuid());

        base.OnInitialized();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        Console.WriteLine("OnAfterRender " + Guid.NewGuid());

        base.OnAfterRender(firstRender);
    }

    protected override async Task OnParametersSetAsync()
    {
        Console.WriteLine("OnParametersSetAsync " + Guid.NewGuid());

        if (UserId == null)
            throw new ArgumentException("UserId est null");


        if (Id != null)
        {
            domain = await domainRepository.GetDomainAsync(Id.Value);
        }
        else
        {
            domain = new Domain() { UserId = (Guid)UserId, Name = "" };
        }
        await base.OnParametersSetAsync();
    }

}
