@using TimeSight.repositories

@page "/domains/create"
@page "/domains/edit/{id:guid}"

@attribute [Authorize]

@inject NavigationManager navigationManager
@inject IDomainRepository domainRepository

@if (domain != null)
{

    <EditForm Model="domain" OnValidSubmit="Submit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="container">
            <div class="row">
                <div class="input-group">
                    <label for="domain-name">Name</label>
                    <InputText class="form-control" id="domain-name" @bind-Value="domain.Name"></InputText>
                    <ValidationMessage for="() => domain.Name" />
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-primary">@(Id != null ? "Update" : "Create")</button>
            </div>
        </div>

    </EditForm>
}
@code {
    [CascadingParameter(Name = "UserId")]
    public Guid? UserId { get; set; }

    [Parameter]
    public Guid? Id { get; set; }

    private Domain? domain;

    public async Task Submit()
    {
        ArgumentNullException.ThrowIfNull(domain);

        if (Id != null)
        {
            domain = await domainRepository.UpdateDomainAsync(domain);
        }
        else
        {
            domain = await domainRepository.CreateDomainAsync(domain);
        }
        navigationManager.NavigateTo(uri: "/domains");
    }

    protected override async Task OnParametersSetAsync()
    {
        if (UserId == null)
            throw new ArgumentException("UserId est null");


        if (Id != null)
        {
            domain = await domainRepository.GetDomainAsync(Id.Value);
        }
        else
        {
            domain = new Domain() { UserId = (Guid)UserId, Name = "" };
        }
        await base.OnParametersSetAsync();
    }

}
