@page "/domains/create"
@page "/domains/edit/{id:guid}"
@using TimeSight.repositories

@inject NavigationManager navigationManager
@inject IDomainRepository domainRepository

<EditForm Model="domain" OnValidSubmit="Submit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText @bind-Value="domain.Name"></InputText>
    <ValidationMessage for="() => domain.Name" />
    <button type="submit" class="btn btn-primary">@(Id != null ? "Update" : "Create")</button>
</EditForm>
@code {
    [Parameter]
    public Guid? Id { get; set; }

    private Domain? domain;

    public async Task Submit()
    {
        if (Id != null)
        {
            //TODO : update
        }
        else
        {
            await domainRepository.CreateDomainAsync(domain);
        }
        navigationManager.NavigateTo(uri: "/domains");
    }
    protected override Task OnParametersSetAsync()
    {
        if (Id != null)
        {
            //TODO

        }
        else
        {
            domain = new Domain() { UserId = Guid.NewGuid(), Name = "" };
        }
        return base.OnParametersSetAsync();
    }

}
