<AuthorizeView>
    <Authorized>
        Hello, @context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value!
        <a href="authentication/logout" class="nav-link btn btn-link">Log out</a>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
