@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row auth">
            <LoginDisplay />
        </div>

        <article class="content">
            @Body
        </article>
    </main>
</div>
