@using TimeSight.repositories
@inject IChoreRepository choreRepository

@if (Chore == null)
{
    <text>Chore est null</text>
}
else
{
    <li>
        <div class="row">
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                <label class="form-check-label" for="checkDefault">
                    IsDone
                </label>
            </div>
            <div class="test col-2">
                @Chore.Name
            </div>
            <div class="col-2">
                <label for="range2" class="form-label">Significance</label>
                <input type="range" class="form-range " min="1" max="4" @bind="Chore.Significance" @bind:event="oninput"
                       id="range2">
            </div>
            <div class="col-2">
                <label for="range2" class="form-label">Duration</label>
                <input type="range" class="form-range " min="1" max="4" @bind="Chore.Duration" @bind:event="oninput"
                       id="range2">
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    @foreach (var domain in domainsNotSelected)
                    {
                        <li><a class="dropdown-item" @onclick="() => AddLink(Chore, domain)">@domain.Name</a></li>
                    }

                </ul>
            </div>

            <div class="btn-group col-2" role="group" aria-label="Basic example">
                @foreach (var domain in domainsSelected)
                {
                    <button type="button" class="btn btn-primary"
                            @onclick="() => RemoveLink(Chore, domain)">@domain.Name</button>

                }
            </div>
            <div class="col-2">
                <button class="btn btn-danger" @onclick="Delete">Delete</button>
            </div>
        </div>
    </li>
}


@code {
    [Parameter]
    public Chore? Chore { get; set; }

    [Parameter]
    public EventCallback<Chore> OnDelete { get; set; }

    [Parameter]
    public ICollection<Domain>? allDomains { get; set; }
    private ICollection<Domain>? domainsSelected => Chore?.ChoreDomains?.Select(cd => cd.Domain!)?.ToList();
    private ICollection<Domain>? domainsNotSelected => allDomains?.Except(domainsSelected).ToList();


    protected override void OnParametersSet()
    {
        allDomains ??= [];
    }
    public async Task RemoveLink(Chore chore, Domain domain)
    {
        chore.ChoreDomains.RemoveAll(cd => matches(cd, chore, domain));
        await choreRepository.UpdateChoreAsync(chore);
    }
    public async Task AddLink(Chore chore, Domain domain)
    {
        ChoreDomain choreDomain = new ChoreDomain(chore, domain);

        chore.ChoreDomains.Add(choreDomain);
        await choreRepository.UpdateChoreAsync(chore);
    }

    public async Task Delete()
    {
        ArgumentNullException.ThrowIfNull(Chore?.Id);
        await OnDelete.InvokeAsync(Chore);
    }
    private bool matches(ChoreDomain choreDomain, Chore chore, Domain domain)
    {
        return choreDomain.ChoreId == chore.Id.Value && choreDomain.DomainId == domain.Id.Value;
    }
}