@if (Chore == null)
{
    <text>Chore est null</text>
}
else
{
    <li>
        <div class="row">
            <div class="form-check col-2">
                <input class="form-check-input" type="checkbox" value="" id="checkDefault">
                <label class="form-check-label" for="checkDefault">
                    IsDone
                </label>
            </div>
            <div class="test col-2">
                @Chore.Name
            </div>
            <div class="col-2">
                <label for="range2" class="form-label">Significance</label>
                <input type="range" class="form-range " min="1" max="4" @bind="Chore.Significance" @bind:event="oninput"
                       id="range2">
            </div>
            <div class="col-2">
                <label for="range2" class="form-label">Duration</label>
                <input type="range" class="form-range " min="1" max="4" @bind="Chore.Duration" @bind:event="oninput"
                       id="range2">
            </div>

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Dropdown button
                </button>
                <ul class="dropdown-menu">
                    @foreach (var domain in domains)
                    {
                        <li><a class="dropdown-item" @onclick="() => AddLink(Chore, domain)">@domain.Name</a></li>
                    }

                </ul>
            </div>

            <div class="btn-group col-2" role="group" aria-label="Basic example">
                @foreach (var domain in domains)
                {
                    <button type="button" class="btn btn-primary"
                            @onclick="() => RemoveLink(Chore, domain)">@domain.Name</button>

                }
            </div>

        </div>
    </li>
}


@code {
    [Parameter]
    public Chore? Chore { get; set; }

    private ICollection<Domain>? domains => Chore?.ChoreDomains?.Select(cd => cd.Domain!)?.ToList();

    public void RemoveLink(Chore chore, Domain domain)
    {
        @* ChoreDomains.RemoveAll(cd => matches(cd, chore, domain)); *@
    }
    public void AddLink(Chore chore, Domain domain)
    {
        //TODO faire gaffe int casting
        @* ChoreDomains.Add(new() { ChoreId = (int)chore.Id, DomainId = (int)domain.Id, UserId = chore.UserId }); *@
    }

    private bool matches(ChoreDomain choreDomain, Chore chore, Domain domain)
    {
        return false;
        @* return choreDomain.ChoreId == chore.Id && choreDomain.DomainId == domain.Id; *@
    }
}